

<p>{{values}}</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="h1">Pokémon List <small>- {{Pokemons.count}} criaturas</small></h1>
            <p>Uma exibição de consumo de API Rest pública para demonstração de conhecimento técnico.</p>
            <div class="form-group bg-light px-4 py-2">
                <label class="label" for="qtdPage">Exibir Quantidade De Pokemons</label>
                <select id="qtdPage" class="form-control d-inline-block w-auto" (change)="SetPokemonCount()">
                    <option value="10" selected>10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                    <option value="400">400</option>
                    <option value="500">500</option>
                    <option value="{{Pokemons.count}}">Todos</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-3" *ngFor="let pokemons of Pokemons.results">
            <a href="{{pokemons.url}}" class="card">
                <div class="card-header bg--{{pokemons?.informations?.types[0]}} text-light">
                    <h4 class="card-title mb-0">
                        <span class="badge small badge-light badge-pill">{{pokemons?.informations?.id}}</span>
                        {{pokemons?.informations?.name | titlecase }}
                    </h4>
                </div>
                <div class="card-body">
                    <ng-container *ngIf="pokemons.informations != null">
                        <div class="poke-sprite">
                            <img [src]="pokemons?.default_sprite?.imagePath"
                                [alt]="pokemons?.informations?.name | titlecase">
                        </div>
                        <p><b>Description:</b> {{pokemons?.detail?.flavor_text_entries?.flavor_text}}</p>
                        <!-- <img *ngFor="let sprite of pokemons.informations.sprites; let i = index" [src]="pokemons?.informations?.sprites[i]?.imagePath" alt=""> -->
                    </ng-container>
                </div>
                <div class="card-footer">
                    <ul class="list-inline mb-0" *ngIf="pokemons.informations != null">
                        <li class="list-inline-item" *ngFor="let type of pokemons.informations.types; let i = index">
                            <span
                                class="poke-type poke-type--{{pokemons?.informations?.types[i]}}">{{pokemons?.informations?.types[i]}}</span>
                        </li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
</div>