<p>Pokemon: {{Pokemons.count}}</p>
<div class="containter-fluid">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    Conteudo header
                </div>
                <div class="card-body">
                    Conteudo Body
                </div>
            </div>
        </div>
    </div>
</div>
<select (change)="SetPokemonCount()">
    <option value="10" selected>10</option>
    <option value="25">25</option>
    <option value="50">50</option>
    <option value="100">100</option>
</select>
<p>{{values}}</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-3" *ngFor="let pokemons of Pokemons.results">
            <a  href="{{pokemons.url}}" class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        <span class="badge badge-xs badge-pill">{{pokemons?.informations?.id}}</span>{{pokemons?.informations?.name | titlecase }}
                    </h4>
                </div>
                <div class="card-body">
                    <ng-container *ngIf="pokemons.informations != null">
                        <img [src]="pokemons?.default_sprite?.imagePath" [alt]="pokemons?.informations?.name | titlecase">
                        <p><b>Description:</b> {{pokemons?.detail?.flavor_text_entries?.flavor_text}}</p>
                        <!-- <img *ngFor="let sprite of pokemons.informations.sprites; let i = index" [src]="pokemons?.informations?.sprites[i]?.imagePath" alt=""> -->
                    </ng-container>
                </div>
                <div class="card-footer"></div>
            </a>
        </div>
    </div>
</div>
